assignment8/App_WebReferences/assignment3Ref/assignment3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="assignment3" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55957/assignment3.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55957/assignment3.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55957/assignment3.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55957/assignment3.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iassignment3_getVenues_InputMessage">
    <wsdl:part name="parameters" element="tns:getVenues" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getVenues_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:getArtist" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getArtistResponse" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getShows_InputMessage">
    <wsdl:part name="parameters" element="tns:getShows" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:getShowsResponse" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_byVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:byVenue" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_byVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:byVenueResponse" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_byArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:byArtist" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_byArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:byArtistResponse" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:getVenue" />
  </wsdl:message>
  <wsdl:message name="Iassignment3_getVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:getVenueResponse" />
  </wsdl:message>
  <wsdl:portType name="Iassignment3">
    <wsdl:operation name="getVenues">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/getVenues" message="tns:Iassignment3_getVenues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/getVenuesResponse" message="tns:Iassignment3_getVenues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/getArtist" message="tns:Iassignment3_getArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/getArtistResponse" message="tns:Iassignment3_getArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/getShows" message="tns:Iassignment3_getShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/getShowsResponse" message="tns:Iassignment3_getShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="byVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/byVenue" message="tns:Iassignment3_byVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/byVenueResponse" message="tns:Iassignment3_byVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="byArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/byArtist" message="tns:Iassignment3_byArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/byArtistResponse" message="tns:Iassignment3_byArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/Iassignment3/getVenue" message="tns:Iassignment3_getVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iassignment3/getVenueResponse" message="tns:Iassignment3_getVenue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iassignment3" type="tns:Iassignment3">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getVenues">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/getVenues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArtist">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/getArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/getShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="byVenue">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/byVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="byArtist">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/byArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVenue">
      <soap:operation soapAction="http://tempuri.org/Iassignment3/getVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="assignment3">
    <wsdl:port name="BasicHttpBinding_Iassignment3" binding="tns:BasicHttpBinding_Iassignment3">
      <soap:address location="http://localhost:55957/assignment3.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>