assignment8/App_WebReferences/showManagerReference/addShowService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="addShowService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60123/addShowService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60123/addShowService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60123/addShowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:60123/addShowService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IaddShowService_addShow_InputMessage">
    <wsdl:part name="parameters" element="tns:addShow" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_addShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:addShowResponse" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_addArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:addArtist" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_addArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:addArtistResponse" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_addDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:addDetail" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_addDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_getShows_InputMessage">
    <wsdl:part name="parameters" element="tns:getShows" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_getShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:getShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_getArtists_InputMessage">
    <wsdl:part name="parameters" element="tns:getArtists" />
  </wsdl:message>
  <wsdl:message name="IaddShowService_getArtists_OutputMessage">
    <wsdl:part name="parameters" element="tns:getArtistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IaddShowService">
    <wsdl:operation name="addShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IaddShowService/addShow" message="tns:IaddShowService_addShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IaddShowService/addShowResponse" message="tns:IaddShowService_addShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IaddShowService/addArtist" message="tns:IaddShowService_addArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IaddShowService/addArtistResponse" message="tns:IaddShowService_addArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IaddShowService/addDetail" message="tns:IaddShowService_addDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IaddShowService/addDetailResponse" message="tns:IaddShowService_addDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IaddShowService/getShows" message="tns:IaddShowService_getShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IaddShowService/getShowsResponse" message="tns:IaddShowService_getShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getArtists">
      <wsdl:input wsaw:Action="http://tempuri.org/IaddShowService/getArtists" message="tns:IaddShowService_getArtists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IaddShowService/getArtistsResponse" message="tns:IaddShowService_getArtists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IaddShowService" type="tns:IaddShowService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addShow">
      <soap:operation soapAction="http://tempuri.org/IaddShowService/addShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addArtist">
      <soap:operation soapAction="http://tempuri.org/IaddShowService/addArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDetail">
      <soap:operation soapAction="http://tempuri.org/IaddShowService/addDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getShows">
      <soap:operation soapAction="http://tempuri.org/IaddShowService/getShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArtists">
      <soap:operation soapAction="http://tempuri.org/IaddShowService/getArtists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="addShowService">
    <wsdl:port name="BasicHttpBinding_IaddShowService" binding="tns:BasicHttpBinding_IaddShowService">
      <soap:address location="http://localhost:60123/addShowService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>