assignment8/App_WebReferences/venueLoginReference/venueOwnerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="venueOwnerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50098/venueOwnerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50098/venueOwnerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IvenueOwnerService_registerVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:registerVenue" />
  </wsdl:message>
  <wsdl:message name="IvenueOwnerService_registerVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IvenueOwnerService_venueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:venueLogin" />
  </wsdl:message>
  <wsdl:message name="IvenueOwnerService_venueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:venueLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IvenueOwnerService">
    <wsdl:operation name="registerVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IvenueOwnerService/registerVenue" message="tns:IvenueOwnerService_registerVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IvenueOwnerService/registerVenueResponse" message="tns:IvenueOwnerService_registerVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="venueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IvenueOwnerService/venueLogin" message="tns:IvenueOwnerService_venueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IvenueOwnerService/venueLoginResponse" message="tns:IvenueOwnerService_venueLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IvenueOwnerService" type="tns:IvenueOwnerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerVenue">
      <soap:operation soapAction="http://tempuri.org/IvenueOwnerService/registerVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="venueLogin">
      <soap:operation soapAction="http://tempuri.org/IvenueOwnerService/venueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="venueOwnerService">
    <wsdl:port name="BasicHttpBinding_IvenueOwnerService" binding="tns:BasicHttpBinding_IvenueOwnerService">
      <soap:address location="http://localhost:50098/venueOwnerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>